@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Hanalei+Fill&family=Open+Sans&family=Roboto:wght@700&display=swap');
.App {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #2E1F27;
}

.home {
  background-color: #2E1F27;
  min-height: 100vh;
}
.home .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  color: #fae8eb;
}

.home .title h1{
  font-weight: 900;
  font-family: 'Hanalei', cursive;
  font-size: 20vh;
  letter-spacing: 2vw;

}

.home .title p{
  font-weight: 900;
  font-size: 38px;

}

.home .btn {
  background-color: #fae8eb ;
  color: #2E1F27;
  font-size: 20px;
}

.home h2{
  color: #fae8eb;
}

.video-container {
  background-color: #2E1F27;
  min-height: 100vh;
}

.video-main {
  
  /* width: 100vw; */
  height: 100vh;
}

.video-container .invite-link button{
  color: #2E1F27;
  background-color: #fae8eb;
}

#video-grid {
  height: calc(100% - 150px);
}

#video-grid video{
  border: 5px solid #fae8eb;
  margin: 10px;
  object-fit: fill;
}

.video-controls {
  background-color: #2E1F27;
}
.control-icon {
  color: #fae8eb;
}

.control-icon i {
  font-size:30px;

}
@media only screen and (min-width: 600px) {
  .control-icon i {
    font-size:42px;
  }
}

.video-controls .btn:hover {
  color: #faf3f4;
}

#chat {
  background-color: #fae8eb;
  height: calc(100vh - 150px);
  margin-top: 10px;
  margin-bottom: 50px;
}

#chat h2 {
  color: #2E1F27;
  text-align: center;
  border-bottom: solid 2px;
}

#chat input {
  border-radius: 10px;
  border: solid 1px #2E1F27;
}

.create-message {
  bottom: 0px;
}
.messages {
  list-style: none;
  padding: 1px;
}

.message {
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  border-radius: 5px;
  border: 1px solid #E21D12;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 1px;
}